@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-text: #fafafa;
  --color-background: #050505;
  --color-primary: #66a923;
  --color-secondary: #082b2b;
  --color-accent: #b280e5;

  /* Custom fonts */
  --font-family-barlow: var(--font-barlow);
  --font-family-roboto: var(--font-roboto);

  /* Custom screens */
  --breakpoint-3xl: 1840px;
  --breakpoint-4xl: 2100px;

  /* Font weights */
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Background images */
  --background-image-moon: url('../public/moon.png');

  /* Animations */
  --animate-slide-in-right: slide-in-right 1s ease-out forwards;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes slide-in-right {
  0%, 20% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
